##### Cambiar encoding de una DB MySQL

In [6]:
import pymysql

# Seteo los valores de conexión
host = 'localhost'
user = 'root'
password = 'password'
database = 'sakila'
charactet_set = 'utf8mb4'
collate = 'utf8mb4_unicode_ci'



# Creo conexión a la DB
conexion = pymysql.connect(
host     = host,
user     = user, 
password = password)

conexion.host_info

'socket localhost:3306'

In [7]:
# Cambio charset DB
cursor = conexion.cursor()
alter = f"""ALTER DATABASE
    {database}
    CHARACTER SET = {charactet_set} 
    COLLATE = {collate};
    """
try:
    cursor.execute(alter)
    conexion.commit()
except Exception as e:
    print ('INSTRUCCION SQL :', alter)
    print ('ERROR: ' + str(e)+'\n')

In [8]:
# Copio nombre tablas a lista
cursor = conexion.cursor()
cursor.execute(f'use {database}')
cursor.execute("show full tables where Table_Type = 'BASE TABLE'")
tablas = [tbl[0] for tbl in cursor.fetchall()]

tablas

['actor',
 'address',
 'category',
 'city',
 'country',
 'customer',
 'film',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'language',
 'payment',
 'rental',
 'staff',
 'store']

In [9]:
# Para cada tabla de la DB
for tbl in tablas:
    print(tbl)
    alter = f"""
            ALTER TABLE
            {tbl}
            CONVERT TO CHARACTER SET {charactet_set} 
            COLLATE {collate};
            """
    try:
        cursor.execute(alter)
        conexion.commit()
    except Exception as e:
        print ('INSTRUCCION SQL :', alter)
        print ('ERROR: ' + str(e)+'\n')
        continue
    


    # Para cada columna de la tabla
    cursor.execute(f'DESCRIBE {tbl}')
    for col in cursor.fetchall():
        col_nombre, col_tipo = col [:2]
        if 'VARCHAR' in col_tipo.upper():

            alter = f'''ALTER TABLE
                {tbl}
                CHANGE {col_nombre} {col_nombre} 
                {col_tipo}
                CHARACTER SET {charactet_set} 
                COLLATE {collate}
                '''
            try:
                cursor.execute(alter)
                conexion.commit()
            except Exception as e:
                print ('INSTRUCCION SQL :', alter)
                print ('ERROR: ' + str(e)+'\n')

actor
address
category
city
country
customer
film
film_actor
film_category
film_text
inventory
language
payment
rental
staff
store

In [ ]:
# cierro conexión
conexion.close()